.preLoad {
    padding-top: 280px;

    img {
        width: 240px;
        animation-name: spinning;
        animation-duration: 12s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes spinning {
        from {
            transform: rotate(360deg);
        }

        to {
            transform: rotate(0deg);
        }
    }

    p {
        padding-top: 44px;
        font-size: 32px;
        font-family: 'Regular';
    }
}

@media (min-width: 1400px) {
    .preLoad {
        padding-top: 300px;

        img {
            width: 400px;
        }
    }

}